* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 250;
}

body {
  width: 100%;
  height: 100%;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.container {
  min-height: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  background: url("../img/lua.jpg");
  background-size: cover;
}

[class*="-ng"] {
  display: grid;
}

.contact-ng {
  display: grid;
  gap: 3px;
  justify-items: center;
  align-content: center;
  grid-auto-flow: column;
  justify-content: left;
  margin-left: 10px;
}

.contact-ng h1 {
  color: burlywood;
}

.image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.text {
  font-size: 15px;
  text-align: center;
  color: aliceblue;
}

.aboutme-ng {
  justify-content: left;
  margin-left: 25px;
  font-size: 19px;
}

.aboutme-ng p span {
  color: crimson;
  font-size: 30px;
  text-transform: inherit;
  font-weight: bold;
  margin-left: -10px;
}

.aboutme-ng h1 {
  color: darkgrey;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}

.skills-ng {
  justify-content: center;
}

.portfolio-ng {
  justify-content: center;
}

.btn {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 12px;
  font-weight: 500;
  background: lightseagreen;
  border: 2px;
  width: 200px;
  height: 40px;
  margin-left: 10px;
}
